ol {
    color:blueviolet
}
p {
    /*This is my favorite color!*/
    background-color: cornflowerblue;
    text-decoration: wavy;
}
ul {
    font-weight: bold;
    font-size: larger;
}
ul {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
